body {
	padding: 0;
	margin: 0;
	max-height: 100vh;
	max-width: 100vw;
	display: flex;
	flex-direction: column;
	background-color: #00b072;
	align-items: center;
	justify-content: space-evenly;
}

.header {
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: center;
	text-align: center;
}

.outcomeMessage {
	display: flex;
	margin-bottom: 50px;
	font-size: 24px;
	text-align: center;
	justify-content: center;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: white;
	height: 28px;
}

h1 {
	font-family: 'Patrick Hand', cursive;
	text-align: center;
	color: rgb(255, 255, 255);
	font-size: 4em;
	margin: 0;
	text-shadow: 0 5px 5px rgba(0, 0, 0, 0.73);
	margin-bottom: 25px;
}

.modal h1 {
	margin: 0;
}

h3 {
	text-align: center;
	padding: 0;
	margin: 0;
	font-size: 30px;
	font-family: 'Shadows Into Light', cursive;
}

.gameContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: space-between;
	width: 100%;
	flex: 1;
}

.pickContainer {
	display: flex;
	justify-content: center;
	padding: 15px 0px;
	width: 90%;
	flex: 1;
}

.pickContainer img {
	min-width: 150px;
	max-width: 275px;
	height: auto;
	transition: transform 0.6s;
	filter: drop-shadow(0px 4px 2px #000);
}

.scores {
	display: flex;
	justify-content: center;
	gap: 350px;
	padding-top: 20px;
	flex: 1;
}

.playerScore .computerScore {
	height: 250px;
	width: 250px;
}

.computerScore h3 {
	color: red;
}

.scores img {
	width: 250px;
	height: auto;
}

.rock:hover {
	transform: scale(1) translate(0%, -10%);
	filter: drop-shadow(0px 30px 10px rgba(0, 0, 0, 0.43));
}

.paper:hover {
	transform: scale(1) translate(0%, -10%);
	filter: drop-shadow(0px 30px 10px rgba(0, 0, 0, 0.43));
}

.scissors:hover {
	transform: scale(1) translate(0%, -10%);
	filter: drop-shadow(0px 30px 10px rgba(0, 0, 0, 0.43));
}

/* img:hover {
	position: absolute;
	transform: translate(0%, 25%);
	/* top: 50%;
	left: 50%; */
/* filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.43));
} */

.modal-container {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.6s ease;
}

.modal-container.show {
	opacity: 1;
	pointer-events: auto;
}

.modal {
	background-color: #00b072f4;
	width: 500px;
	max-width: 100%;
	padding: 30px;
	border-radius: 30px;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.43);
}

.modal h1 {
	color: rgb(255, 255, 255);
	padding: 0;
}

.modal p {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

.modal button {
	color: black;
	background-color: #beffe8;
}

#page-mask {
	background: rgba(0, 0, 0, 0.655);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	pointer-events: none;
}

#page-mask.show {
	opacity: 1;
	pointer-events: auto;
}

.scoreZero {
	display: none;
}

.scoreZero.show {
	display: block;
}

.scoreOne {
	display: none;
}

.scoreOne.show {
	display: block;
}

.scoreTwo {
	display: none;
}

.scoreTwo.show {
	display: block;
}

.scoreThree {
	display: none;
}

.scoreThree.show {
	display: block;
}

.scoreFour {
	display: none;
}

.scoreFour.show {
	display: block;
}

.scoreFive {
	display: none;
}

.scoreFive.show {
	display: block;
}

.computerScoreZero {
	display: none;
}

.computerScoreZero.show {
	display: block;
}

.computerScoreOne {
	display: none;
}

.computerScoreOne.show {
	display: block;
}

.computerScoreTwo {
	display: none;
}

.computerScoreTwo.show {
	display: block;
}

.computerScoreThree {
	display: none;
}

.computerScoreThree.show {
	display: block;
}

.computerScoreFour {
	display: none;
}

.computerScoreFour.show {
	display: block;
}

.computerScoreFive {
	display: none;
}

.computerScoreFive.show {
	display: block;
}
